*.pyc
*.pyo
*.egg-info
*~
*.swp
.directory
*,cover

.coverage
.installed.cfg
build/
dist/
i18n/*/LC_MESSAGES/*.mo
i18n/*/LC_MESSAGES/*.js
src/twisted/plugins/dropin.cache

Makefile
Makefile.in
configure
aclocal.m4
autom4te.cache
install-sh
config.*
missing
*.tar.gz

*.cfg
