# 'check_http_url' command definition:
#   checks if a HTTP server answers for a given url
define command{
        command_name    check_http_url
        command_line    /usr/lib64/nagios/plugins/check_http -H $HOSTADDRESS$ -p $ARG1$ -u $ARG2$
}
