Source: vigilo-nagios-plugins
Section: contrib/net
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vigilo-nagios-plugins
Architecture: all
Depends:
 sudo,
 vigilo-nagios-plugins-cpu,
 vigilo-nagios-plugins-https-via-proxy,
 vigilo-nagios-plugins-ipmi,
 vigilo-nagios-plugins-megaraid,
 vigilo-nagios-plugins-raid,
 vigilo-nagios-plugins-sysuptime,
 vigilo-nagios-plugins-udp-simple
Description: Additional Nagios plugins (meta-package)
 Additionnal plugins for the Nagios supervision system

Package: vigilo-nagios-config
Architecture: all
Depends: nagios3, nagios-plugins-standard, ${perl:Depends}, ${misc:Depends}
Description: Nagios configuration for Vigilo
 This package contains the configuration related to Vigilo for Nagios.
 This package is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nrpe-config
Architecture: all
Depends: nagios-nrpe-server
Description: NRPE configuration for the Vigilo plugins
 This contains the configuration related to the Nagios Remote Plugin Executor
 for Vigilo.
 This package is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-cpu
Architecture: all
Description: Additionnal plugins for Nagios: CPU check
 Additionnal Nagios plugin for CPU checking.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-https-via-proxy
Architecture: all
Depends: curl
Description: Additionnal plugins for Nagios: HTTPS/Proxy
 Additionnal Nagios plugin for HTTPS over proxy checking.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-ipmi
Architecture: all
Depends: ipmitool, ${perl:Depends}, ${misc:Depends}
Description: Additionnal plugins for Nagios: IPMI-enabled hardware
 Additionnal Nagios plugin for IPMI-enabled hardware.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-megaraid
Architecture: all
Depends: megacli
Description: Additionnal plugins for Nagios: LSI MegaRAID hardware
 Additionnal Nagios plugin for LSI MegaRAID hardware.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-raid
Architecture: all
Depends: sudo, ${perl:Depends}, ${misc:Depends}
Description: Additionnal plugins for Nagios: software RAID on Linux
 Additionnal Nagios plugin for software RAID on Linux.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-sysuptime
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Additionnal plugins for Nagios: system uptime
 Additionnal Nagios plugin for system uptime.
 This application is part of the Vigilo Project <http://vigilo-project.org>

Package: vigilo-nagios-plugins-udp-simple
Architecture: all
Depends: sudo, nmap
Description: Additionnal plugins for Nagios: UDP-based servers
 Additionnal Nagios plugins for UDP-based server.
 This application is part of the Vigilo Project <http://vigilo-project.org>
