#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
ifneq "$(NOPY)" ""
	-rm -f $(CURDIR)/debian/*.docs $(CURDIR)/debian/copyright
endif

.PHONY: override_dh_auto_clean
