module vigilo-nagios-config 1.0;

require {
    type nagios_t;
    type tmpfs_t;
    class dir { add_name read remove_name write };
    class fifo_file { create open read write };
    class file { create getattr open read rename setattr unlink write };
    class sock_file { create write unlink };
}

# Allow nagios to do various operations on /dev/shm/nagios/...
allow nagios_t tmpfs_t:dir { add_name read remove_name write };
allow nagios_t tmpfs_t:fifo_file { create open read write };
allow nagios_t tmpfs_t:file { create getattr open read rename setattr unlink write };
allow nagios_t tmpfs_t:sock_file { create write unlink };

